.winning-item {
    /* position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5); */
      box-shadow: 0 0 10px #BD3944;
      -webkit-box-shadow: 0 0 10px #BD3944;
      -moz-box-shadow: 0 0 10px #BD3944;

  }

  .winning-item div {
        /* width: 400px;
        height: 300px;
        border: #BD3944 2px solid;
        background-color: #0f1923; */
  }